# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# packaging and distribution
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# venv
.venv/
venv/
ENV/
env/
env.bak/
.conda/

# unit test / cover
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_convert

# PyCharm / VS Code
.vscode/
.idea/

# mypy / type checker
.mypy_cache/
.dmypy.json
dmypy.json

# pyre / pytype
.pyre/
.pytype/

# Django / Flask
*.log
local_settings.py
db.sqlite3
instance/
.webassets-cache

# Streamlit
.streamlit/

# temp files
*.swp
*.swo
*~